@import './_trix.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#manage_listing_table_length {
    display: inline-block;
    float: left;
    margin-top: 2px;
    padding-left: 0.5rem;
    font-size: 0.9rem;
}

#manage_listing_table_length select {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0.5rem;
}

#manage_listing_table_filter {
    display: inline-block;
    float: right;
    margin-top: 2px;
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

#manage_listing_table_filter input {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 3px;
}

#manage_listing_table_info {
    display: inline-block;
    float: left;
    padding: 1rem;
    font-size: 0.9rem;
}

#manage_listing_table_paginate {
    display: inline-block;
    float: right;
    padding: 1rem;
}

.paginate_button {
    font-size: 0.9rem;
    color: black;
    padding: 0.5rem 0.75rem;
    border: 0;
    cursor: pointer;
}

.paginate_button:hover {
    background-color: rgb(224, 224, 224);
}

.paginate_button.current {
    color: rgb(99 102 241);
}

.paginate_button.disabled {
    color: rgb(90, 90, 90);
    cursor: default;
}

.paginate_button.disabled:hover {
    background-color: unset;
}

@media only screen and (max-width: 576px) {
    #manage_listing_table_filter {
        float: left;
        padding-left: 0.5rem;
    }
}